body{
    line-height: 16px;
}
a{
    color: #3d3d3d;
}
a:hover{
    color: white !important;
}
header.main-header{
    width: 100%;
    position: fixed;
    z-index: 100;
    padding:40px 0 40px 0;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
}
header.main-header.shows{
    padding:20px 0 20px 0;
    background-color: #6ab869;
}
.header-logo{
    width: 30%;
    float: left;
}
.header-mnu-lst{
    width: 70%;
    float: left;
}
.header-mnu-lst .main-mnu li{
    float: left;
    list-style-type: none;
}
.header-mnu-lst .main-mnu.mbl li{
    float: none;
    list-style-type: none;
    border-bottom: 1px solid #F5F5F5;
}
.header-mnu-lst .main-mnu li a{
     padding: 10px 15px;
     font-weight: 700;
     color: #fff;
}
.header-mnu-lst .main-mnu.mbl li a{
     padding: 10px 80px;
     font-weight: 700;
     line-height: 40px;
     color: #333;
}
.mbl-mnu{
    background-color: #FAFAFA;
    position: absolute;
    right: -240px;
    display: block;
    margin-top: 48px;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
}
.mbl-mnu.actv{
    right: 0 !important; 
}
.header-logo a:nth-child(2){
    display: none;
}
.shows .header-logo a:nth-child(2){
    font-size: 1.6em;
    font-weight: 700;
    display: block;
    color: white;
}
.shows .header-logo img{
    display: none;
}
.header-logo img{
    max-width: 40%;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    margin-top: -8px;
    margin-right: 24px;
}
/*.shows .header-mnu-lst .main-mnu li a{
    color: #333;
    text-shadow: none;
    font-weight: 700;
}*/
#intro{
    background-image: url("https://testing.saddahaq.com/public/Uploads/dontha/74201041-other-concept.png");
    position: relative;
    text-align: center;
    padding: 0 !important;
}

.intro-block{
   background: transparent no-repeat center center fixed; 
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow: hidden;
  padding: 60px 0;
}
#intro section{
    padding-top: 20%;
}
#intro .slogan {
  font-size: 2.5em;
  margin-bottom: 15px;
  line-height: 1em;
  color: white;
  font-weight: bold;
}

#intro .secondary-slogan {
  font-size: 1.1em;
  color: white;
  line-height: 1.6em;
  margin: auto;
  width: 50%;
}
#scrl-dwn{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 32px; 
  color: white;
  cursor: pointer;
}
#scrl-dwn i{
  font-size: 1.5em;
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px 1px 5px 1px;
}
.btn-n{
    display: inline-block;
  line-height: 1.857em;
  padding: 0.0em 0.5em !important;
  margin: 0px 0 0px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid white;
  background: transparent;
  color: #ddd;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
}
#mbl-nav i{
    font-size: 2.3em;
    color: #ddd;
}
.subsidy-btn{
  display: inline-block;
  line-height: 1.857em;
  padding: 0.1em 1.285em !important;
  margin: 12px 0 0px;
  cursor: pointer;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 5px;
  border: none;
  background: #6ab869;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
}
.subsidy-btn.large{
    padding: 0.6em 1.285em !important;
}
.subsidy-btn.invers{
    padding: 0.6em 1.285em !important;
    border: 3px solid #fff;
    border-radius: 5px;
}

#steps{
    width: 55%;
    float: left;
}
#steps .flw-stps{
    width: 78%;
    margin: auto;
    margin-top: 120px;
}
#steps .flw-stps .hedng{
    font-size: 2.1em;
    color: #3d3d3d;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: -0.03em;
}
#steps .flw-stps .dsc{
    font-size: 1.1em;
    color: #3d3d3d;
    line-height: 1.6em;
    /*margin-bottom: 16px;*/
    letter-spacing: 0.02em;
}
#steps .flw-stps textarea{
    width: 90%;
    border: 3px solid rgb(192, 192, 192);
    height: 120px;
    border-radius: 10px;
}
#stream{
    width: 45%;
    float: left;
}
#stream .strm-sec{
    width: 70%;
    margin: auto;
    margin-top: 120px;
}
#stream .strm-sec .ttl{
    font-size: 1.4em;
    color: #3d3d3d;
    text-transform: uppercase;
    line-height: 1.6em;
    letter-spacing: -0.03em;
    text-align: center;
    font-weight: 700;
}
#stream .strm-sec .sec{
    background-color: rgb(244, 244, 246);
    text-align: center;
    border-radius: 8px;
    padding-bottom: 16px;
}
#stream .strm-sec .stat{
    line-height: 2em;
    margin-top: 16px;
}
#stream .strm-sec .stat span{
    font-size: 3.8em;
    color: #3d3d3d;
    line-height: 2em;
    font-weight: 700;
}

#stream .strm-sec .view-all{
    font-style: italic;
    float: right;
    font-size: 1.1em;
    padding-top: 4px;
}
#stream .strm-sec .view-all a{
    color: #3d3d3d;
}
#prtnr-sec{
    background-color: #6ab869;
    height: 300px;
    margin-top: 120px;
    text-align: center;
}
#prtnr-sec h2{
    font-size: 2em;
    color: #fff;
    padding-top: 16px;  
}
.prtnr-logos{
 display: table;
 margin: 36px auto;
}
.prtnr-logos img{
    /*float: left;*/
     margin: 8px;
    /*-webkit-filter: grayscale(100%);*/ 
    /*filter: grayscale(100%);*/
}
#prtnr-sec .foter{
    color: white;
    /*margin-top: 156px;*/
}
footer{
    height: 56px;
    margin-top: 10px;
}
.socl{
  float: left;
  width: 36px;
  height: 36px;
  background: black;
  margin-left: 12px !important;
  overflow: hidden;
  border-radius: 50%;
  padding: 0;
  margin-top: 8px;
}
.socl i{
    font-size: 3.8em;
    margin: -8px -8px -13px -19px !important;
    color: white !important;
}
.step-model{
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #e2eef4;
    z-index: 100000;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
}
.model-ttl{
    text-align: center;
    color: #333;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: -56px;
    left: 0;
    right: 0;
}
.step-model .remove-model{
    position: absolute;
    right: 16px;
    top: 32px;
    cursor: pointer;
}
.step-model .remove-model{
    font-size: 5em;
}
#gvup-frm{
    width: 2000%;
    height: 100%;
    margin-top: 140px;
}
#gvup-frm .stp-frm{
    /*width: 1124px;*/
    background-color: #fff;
    margin: 0px 80px 80px 80px;
    border-radius: 5px;
    border: 1px solid #e4e4e4;
    padding: 0 0 16px 0;
    -webkit-transition: max-width 0.4s, max-height 0.4s, margin 0.4s;
    -webkit-transition: max-width 0.4s, max-height 0.4s, margin 0.4s;
    -webkit-transition: max-width 0.4s, max-height 0.4s, margin 0.4s;
    float: left;
    position: relative;
}
.grid{
    float: left;
    border-bottom: 1px solid #e4e4e4; 
    border-left: 1px solid #e4e4e4; 
    position: relative;
}
.grid2{
    width: 49.9%;
}
.grid3{
    width: 33%;
}
.grid label{
  display: block;
  padding: 20px 20px 10px;
  vertical-align: top;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #939393;
}
.grid span{
  position: absolute;
  right: 38px;
  bottom: 16px;
  color: red;
  font-size: 1.5em;
}
.grid input{
    border: none;
    padding: 0;
    margin: 4px 0;
    font-weight: 700;
    width: 100%;
}
.grid select{
    appearance: menulist !important;
  -webkit-appearance: menulist !important;
  -moz-appearance: menulist !important;
  border: none;
  padding: 0 !important;
  margin: 3px 0;
  font-weight: 700;
  width: 100%;
}
.grid input:focus{
    border: none;
}
#share textarea{
    border: 3px solid rgb(241, 241, 241);
    padding: 4px;
    margin: 16px auto;
    font-weight: 700;
    width: 50%;
    display: table;
    border-radius: 5px;
    height: 150px;
}
.pldg-msg{
    font-size: 1.6em;
    width: 50%;
    margin: auto;
    text-align: center;
    line-height: 1.5em;
    font-weight: bold;
    color: gray;
    clear: both;
    padding: 32px 0 32px 0;
}
::-webkit-input-placeholder { font-size: 1.1em; font-weight: bold;}
::-moz-placeholder { font-size: 1.1em; font-weight: bold;} /* firefox 19+ */
:-ms-input-placeholder { font-size: 1.1em; font-weight: bold;} /* ie */
input:-moz-placeholder { font-size: 1.1em; font-weight: bold;}
.pldg-msg span{
    color: rgb(187, 59, 59);
    border-bottom: 1px solid rgb(187, 59, 59);
    border-bottom-style: dotted;
}
.frm-btn{
    display: table;
    margin: 0 auto;
}
#aftr-rqst{
    display: table;
    margin: 0 auto;
}
#aftr-rqst a{
    position: absolute;
    right: 24px;
    bottom: 16px;
    color: rgb(205, 42, 42)
}
#aftr-rqst a:hover{
    color: rgb(205, 42, 42) !important;
}
@media (max-width: 767px){
    body{
    font-size: 12px !important;
    padding: 0 !important;
    malign: 0 !important;
    }
    #steps{
    width: 100% !important;
}
    #stream{
    width: 100% !important;
}
#stream{
    width: 100% !important;
}
#intro .secondary-slogan{
    width: 90%;
    font-size: 1.2em;
}
.header-logo{
    width: 50%;
}
.header-logo a:nth-child(2){
    margin-left: 8px;
}
.header-logo img{
    max-width: 40%;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    margin-top: -8px;
    margin-left: 24px;
}
.header-mnu-lst{
    width: 50%;
    float: left;
}
.container-fluid{
    padding-top: 0;
}
.grid2{
    width: 100%;
}
.grid3{
    width: 100%;
}
#gvup-frm{
    margin: 0px 0px 80px 0px;
    overflow-y: scroll;
}
.pldg-msg{
    width: 90%;
}
#gvup-frm .stp-frm{
 margin: 0px 00px 80px 0px;
}
}