        #hlp-popup{
        position: absolute;
        top: 47%;
        text-align: center;
        background-color: white;
        z-index: 999999;
        border-radius: 2px;
        border: none;
        line-height: 0;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        }
        #hlp-popup .hlp_sld_shw{
        position: relative;
        overflow: hidden;
        width: 100%;
        box-shadow: 0 27px 24px 0 rgba(0,0,0,.01),0 29px 45px 0 rgba(0,0,0,.00);
        border-radius: 3px;
        border: none;
        }

        #hlp-popup .box-slide{
            width: 600px;
            background: #fff;
            padding: 0px 0px 56px 0px;
            box-shadow: 1px 1px 4px #666;
           // border: 1px solid #ddd;
            border-radius: 0px;
        }
        #hlp-popup .h-slider {
                position: relative;
        }
        #hlp-popup .h-slider .slider-box {
            width: 100%;
            position: relative;
            overflow: hidden;
        }
        #hlp-popup .h-slider .slider-box .slider-hider {
        position: relative;
        width: 20000px;
        z-index: 1;
        top: 0;
        left: 0;
        -webkit-backface-visibility: hidden;
        -webkit-transition: -webkit-transform ease-in-out;
        -moz-transition: -moz-transform ease-in-out;
        -o-transition: -o-transform ease-in-out;
        transition: transform ease-in-out;
        transition: 500ms; 
        -webkit-transition: 500ms;
        moz-transition: 500ms;
        -o-transition: 500ms;
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        }
        .mp-hp-packages .h-slider .slide {
        color: #fff;
        text-decoration: none;
        margin-right: 15px;
        width: 591px;
        height: 252px;
        padding: 160px 0 10px 30px;
        background: #e3e3e3;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        }
        
        #hlp-popup .hlp_sld_shw_itm{
            position: relative;
            background-size: cover;
            float: left;
        }
        #hlp-popup .hlp_sld_shw_itm img{
            width: 100%;
        }
        
        #hlp-popup .nvgtrs{
            position: absolute;
            top: 32%;
            width: 5%;
            padding: 40px 0 40px 0;
            background-color: rgba(46, 54, 65, 0.8);
            box-shadow: 0px 0px 15px #7E7E7E;
            z-index: 10000;
        }
        #hlp-popup .nvgtrs i{
           font-size: 3.2em;
           color: #2E3641;
        }
        #hlp-popup .nvgtrs.bck{
            right: auto;
            left: -56px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        #hlp-popup .nvgtrs.frwd{
            left: auto;
            right: -30px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        #hlp-popup #hlp_sld_btn{
            position: absolute;
            right: 12px;
            bottom: 4px;
            z-index: 10000;
        }
        #hlp-popup .hlp_sldr_indctrs{
            position: absolute;
            bottom: 18px;
            left: 50%;
            z-index: 15;
            width: 60%;
            padding-left: 0;
            margin-left: -30%;
            text-align: center;
            list-style: none;
        }
        .grup_nvgtn{
            display: inline-block;
            width: 10px;
            height: 10px;
            margin: 1px;
            text-indent: -999px;
            cursor: pointer;
            background-color: #2E3641;
            background-color: rgba(0,0,0,0);
            border: 1px solid #2E3641;
            border-radius: 10px;
        }
        .grup_nvgtn.actv{
            background-color: #2E3641;
        }
       .rmv_hlp_sld{
            position: absolute;
            top: 8px;
            right: 4px;
            z-index: 10000;
            font-size: 2em;
            cursor: pointer;
        }
         .rmv_hlp_sld i{
            font-size: 1.5em;
            text-shadow: 0px 2px 6px #334;
        }

        #hlp-popup .rmv_hlp_sld{
            color: #fff;
            font-size: 1.5em;
        }
        




   /*Help popup 2 css*/
   
/*    #lgt-bx{
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        z-index: 999;
        background: rgba(255, 255, 255, 1);

        display: none;
    }*/
   #hlp-popup_2{
        position: absolute;
        top: 52%;
        text-align: center;
        z-index: 999999;
        border-radius: 2px;
        border: none;
        line-height: 0;
        color: black;
        height: 600px;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);

    }
    
    #hlp-popup_2 .mn_hlp_bx{
        position: relative;
        width: 700px;
        height: 600px;
        overflow: hidden;
        // border: 1px solid #ddd;
        background: -webkit-linear-gradient(bottom, rgba(236, 187, 98, 0.82),  rgba(165, 42, 42, 0.88));
        background: -webkit-linear-gradient(bottom, rgba(236, 187, 98, 0.82),  rgba(42, 165, 165, 0.88));
        animation:move 800ms;
        -webkit-animation:move 800ms;
    }
    
    @keyframes move {
    from { top: -50px}
    to   { top: 0px;}
    }
    @-webkit-keyframes move {
    from { top: -50px}
    to   { top: 0px;}
    }
    
    @-moz-keyframes move {
    from { bottom: -150px; opacity: 0}
    to   { bottom: 0px; opacity: 1}
    }
   @-o-keyframes  move {
    from { bottom: -150px; opacity: 0}
    to   { bottom: 0px; opacity: 1}
    }
    
    
    @keyframes bottom {
    from { bottom: -150px; opacity: 0}
    to   { bottom: 0px; opacity: 1}
    }
    @-webkit-keyframes bottom {
    from { bottom: -150px; opacity: 0}
    to   { bottom: 0px; opacity: 1}
    }
    
    @-moz-keyframes bottom {
    from { bottom: -150px; opacity: 0}
    to   { bottom: 0px; opacity: 1}
    }
   @-o-keyframes  bottom {
    from { bottom: -150px; opacity: 0}
    to   { bottom: 0px; opacity: 1}
    }
  @-webkit-keyframes fade-in-up{
       0%{-ms-transform:translateY(20px);
          -webkit-transform:translateY(20px);
          opacity:0;
          transform:translateY(20px)}
       100%{-ms-transform:translateY(0);
            -webkit-transform:translateY(0);
            opacity:1;
            transform:translateY(0)}
   }
   @-webkit-keyframes fade-in-down{
       0%{-ms-transform:translateY(-20px);
          -webkit-transform:translateY(-20px);
          opacity:0;
          transform:translateY(-20px)}
       100%{-ms-transform:translateY(0);
            -webkit-transform:translateY(0);
            opacity:1;
            transform:translateY(0)}
   }
    #hlp-popup_2 #hlp-popup-navbar{
    -webkit-animation-name: fade-in-up;
    animation-name: fade-in-up;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-delay: 2.5s;
    -webkit-animation-fill-mode: both;
    background-color: #fff;
    bottom: 0;
    display: block;
    height: 56px;
    left: 0;
    position: absolute;
    width: 99.7%;
    z-index: 9;
    border: 1px solid #ddd;
    border-top: 0;
    }
    
    #hlp-popup_2 #nav-buttons{
    padding: 0px 15px 0 15px;
    width: 100%;
    text-align: left;
    }
    #hlp-popup_2 #nav-buttons #nav_nxt_btn{
    float: right;
    margin-right: 30px;
    }
   #hlp-popup_2 #progress-bar{
       background-color:#d9d5d5;
       height:5px;
       overflow:hidden;
       width:100%
   }
   #hlp-popup_2 #progress-percentage{
    -webkit-transition-duration:.7s;
    -webkit-transition-property:width;
    background-color:#3b78f4;
    background-color:#00B67C;
    display:block;
    height: 8px;
    transition-duration:.7s;
    transition-property:width
   }
   
   #hlp-popup_2 .mn_hlp_bx-tm h1{
   color: white;
   font-family: 'Open Sans Condensed',sans-serif;
   font-weight: 100;
   padding: 35px 0 0 0;
   font-size: 3.5em;
   -webkit-animation-name: fade-in-down;
   animation-name: fade-in-down;
   -webkit-animation-duration: 1s;
   -webkit-animation-delay: 0.5s;
   -webkit-animation-fill-mode: both;
   }
   #hlp-popup_2 .sh_logo{
    -webkit-animation-name: fade-in-up;
    animation-name: fade-in-up;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1.5s;
    -webkit-animation-fill-mode: both;
   }
   #hlp-popup_2 .sh_logo i{
    font-size: 30em;
   }
   
   #joy-ride{
    width: 480px;
    min-height: 200px;
    background-color: white;
    border: 1px solid rgba(0,0,0,.25);
    position: absolute;
    z-index: 100000;
    visibility: hidden;
    opacity: 0;
    /*margin: 55px;*/
    text-align: left;
    /*padding: 16px;*/
    box-shadow: 0 0 24px 2px rgba(0,0,0,0.05);
   }
  #joy-ride  .hlp_sldr_indctrs{
       position: absolute;
       bottom: 10px;
       left: 16px;
   }
   #joy-ride .grup_nvgtn{
            display: inline-block;
            width: 10px;
            height: 10px;
            margin: 1px;
            text-indent: -999px;
            cursor: pointer;
            background-color: #A6A6A6;
            border: 0 !important;
            border-radius: 10px;
        }
        #joy-ride .grup_nvgtn.actv{
            background-color: #2E3641;
        }
   #joy-ride.start{
       left: 50%;
       top: 47%;
       transform: translateX(-50%) translateY(-50%);
       -webkit-transform: translateX(-50%) translateY(-50%);
       -moz-transform: translateX(-50%) translateY(-50%);
       -o-transform: translateX(-50%) translateY(-50%);
   }
   #joy-ride.visbl{
       visibility: visible;
       opacity: 1;
   }
   #joy-ride.btm .arrow{
       left: 36px;
   }
   #joy-ride.btm.rght .arrow {
       left: initial;
       right: 12px;
   }
   #joy-ride.top.rght .arrow {
       left: initial;
       right: 36px;
   }
   #joy-ride.right .arrow{
       top: 36px;
   }
  #joy-ride.left .arrow{
       top: 36px;
   }
   #joy-ride.top .arrow{
       left: 36px;
   }
/*   .right .arrow {
    border-left-color: rgba(0,0,0,.2);
    border-top-width: 0;
    top: -11px;
}*/
   #joy-ride h3{
       padding: 40px 0 0 24px;
   }
   #joy-ride p{
       padding: 4px 24px 0 24px;
   }
   .popovr-cntnt-imgs{
    margin: 8px 0 00px 24px; 
    /*display: none;*/
   }
   .popovr-cntnt-imgs img{
       display: inline-block;
       margin-right: 8px;
       margin-bottom: 40px;
       max-width: 100px;
   }
   #joy-ride .btn_nav{
       position: absolute;
       right: 16px;
       bottom: 4px;
   }
   #joy-ride .btn_nav .btn{
       margin-left: 4px;
   }
   
   #joy-ride .rmv_popover{
            position: absolute;
            top: 4px;
            right: 4px;
            z-index: 10000;
            font-size: 2em;
            cursor: pointer;
            font-size: 1.3em;
        }
         .rmv_popover i{
            font-size: 1.5em;
            text-shadow: 0px 2px 2px #334;
        }